<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="headmaster.js"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <% for (let i = 0; i < lessonPlans.length; i++) {
            var plan = lessonPlans[i]; %>
            <h4 onclick="getContent(<%=plan.id %>)"><%=plan.subject_name %> Week <%=plan.week %></h4>
        <% } %>
    </div>
    <div class="content">
    </div>
    <div id="feedback">
    </div>
    
</body>
</html>